
#hh1 {
    width:500px;
    height: 50px;
    background-color: pink;
    /*border-width: 2px;
    border-style: solid;
    border-color: yellow;*/
    border: 2px solid yellow ;
    text-align: center;
}
p {
    color: blue;
}

body {
    background-color:;
}

button {
    color: brown;
    background-color: aqua;
}

#h1 {
    font-weight: normal;
}

#One {
    font-family: Arial;
}

#two {
    font-family: 'Courier New', Courier, monospace;
}

#One {
    font-size: 20px;
}

#two {
    font-size: 21px;
}

#One {
    line-height: 30px;
} 

#two {
    line-height: 25px;
}

#One {
   text-transform: uppercase; 
}

#two {
    text-transform: lowercase;
}
div {
    background-color: pink;
    height: 50px;
    width: 50px;
    border-width: 2px;
    border-style: solid;
    border-color: red ;
}
div {
    border-radius: 10px;
    text-align: center;
   /* padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px; */
    padding: 20px;
    /*margin-top:50px ;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;*/
    margin: 50px;
}
#you {
    border-radius: 50%;
}
.t {
    background-color: blue;
    display: inline;
}
.a {
    background-color: rebeccapurple;
    display: inline-block;
    margin: 25px;
    padding: 25px;
}
#a {
    background-color: rebeccapurple;
    display: inline-block;
    margin: 25px;
    padding: 25px;
    position: relative;
    top: 1px;
}
#b1 {
    display: inline-block;
}
#b2 {
    display: inline-block;
}
#b3 {
    display: inline-block;
}
#b4 {
    display: inline-block;
}
#b5 {
    display: inline-block;
}
.media {
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 0;
    margin: 2px;
}
@media (width : 600px) {
    .media {
        background-color: pink;
    }
}
@media (min-width: 600px) {
    .media {
        background-color: green;
    }
}
@media (max-width: 600px) {
    .media {
        background-image: black;
    }
}
@media (min-width: 200px) and (max-width: 300px) {
    .media {
        background-color: blueviolet;
    }
}
.transition {
    height: 50px;
    width: 50px;
    background-color: pink;
    margin: 2px;
    border-radius: 0;
}
.transition:hover {
    background-color: blue;
}
.transition:active {
    background-color: red;
}
.transition1 {
    height: 50px;
    width: 50px;
    background-color: pink;
    margin: 2px;
    border-radius: 0;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: steps(5);
    transition-delay: 1s;
}
.transition1:hover {
    background-color: blue;
    font-size: 50px;
}
h2 {
    text-align: center;
}
#transform {
    margin: 20px;
    border-radius: 0;
    transform: rotate;
    rotate: 45deg;
}
#transform1 {
    margin: 20px;
    border-radius: 0;
    transform: rotate;
    rotate: 90deg;
}
#transform2 {
    margin: 20px;
    border-radius: 0;
    transform: rotate;
    rotate: x 45deg;
}
#transform3 {
    margin: 20px;
    border-radius: 0;
    transform: rotate;
    rotate: y 45deg;
}
#transform4 {
    margin: 20px;
    border-radius: 0;
    transform: rotate;
    rotate: z 125deg;
}
#scale {
    border-radius: 0;
    transform: scale(2);
}
#scale1 {
    border-radius: 0;
    transform: scale(0.5);
}
#scale2 {
    border-radius: 0;
    transform: scale(2,1);
}
#scale3 {
    border-radius: 0;
    transform: scale(1,3);
}
#scale33:hover {
    border-radius: 0;
    transform: scale(1,3);
    background-color: blue;
    transition-duration: 2s ;
    transition-timing-function: steps(3);
}
#transform44:hover {
    background-color: blue;
    margin: 20px;
    border-radius: 0;
    transform: rotate;
    rotate: z 125deg;
    transition-duration: 2s ;
    transition-timing-function: steps(3);
}
#translate {
    border-radius: 0;
    transform: translate(10px);
}
#translate1 {
    border-radius: 0;
    transform: translateX(40px)
}
#translate2 {
    border-radius: 0;
    transform: translatex(-40px);
}
#translate3 {
    border-radius: 0;
    transform: translateY(5px);
}
#translate4 {
    border-radius: 0;
    transform: translateY(-10px);
}
#translate5 {
    border-radius: 0;
    transform: translate(20px,10px);
}
#translate6:hover {
    border-radius: 0;
    transform: translatex(100px);
    transition-duration: 2s;
    transition-timing-function: ease-in;
}
#translate66:hover {
    border-radius: 0;
    transform: translateY(100px);
    transition-duration: 2s;
    transition-timing-function: ease-in;
}
#translate7:hover {
    border-radius: 0;
    transform: translate(100px,80px);
     transition-duration: 2s;
    transition-timing-function: ease-in;
}
#shew {
    border-radius: 0;
    transform: skew(30deg);
}
#shew1:hover {
    border-radius: 0;
    transform: skew(90deg);
    transition-duration: 2s;
}
#animation {
    background-color: aquamarine;
    animation-name: firstanimate;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: 5;
}
@keyframes firstanimate {
    from {background-color: aquamarine;}
    to {background-color: blueviolet;}
}
#animation1 {
    background-color: aquamarine;
    animation-name: firstanimate1;
    animation-duration: 0.25s;
    animation-iteration-count: infinite;
    border-radius: 50%;
}
@keyframes firstanimate1 {
    from {background-color: aquamarine;}
    to {background-color: blueviolet;}
}
#animation2 {
    background-color: aquamarine;
    animation-name: firstanimate2;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    position: absolute;
    animation-direction: normal;
}
@keyframes firstanimate2 {
    from { left:0px;}
    to {left: 150px;}
}
#animation3 {
    background-color: aquamarine;
    animation-name: firstanimate3;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    transform: translateY(100px);
    position: absolute;
    animation-direction: reverse;
}
@keyframes firstanimate3 {
    from { left:0px;}
    to {left: 150px;}
}
#a4 {
    background-color: aquamarine;
    animation-name: a4;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    transform: translateY(200px);
    position: absolute;
    animation-direction: alternate;
}
@keyframes a4 {
    from { left:100px;}
    to {left: 200px;}
}
#ani5 {
    /*background-color: aquamarine;*/
    animation-name: ani5;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    transform: translateY(300px);
    position: absolute;
    animation-direction: normal;
}
@keyframes ani5 {
    from { left:0px;
    background-color: yellow;
    color: black;}
    to {left: 300px;
    background-color: blue;
    color: brown;}
}
#ani55 {
    /*background-color: aquamarine;*/
    animation-name: ani55;
    animation-duration: 3s;
    transform: translateY(400PX);
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    position: absolute;
    animation-direction: normal;
}
@keyframes ani55 {
    0% { left:0px;
    background-color: yellow;
    color: black;
    font-size: 10px;}
    50% {background-color: blueviolet;
        color: aquamarine;
        font-size: 20px;}
    100% {left: 300px;
    background-color: blue;
    color: brown;
    font-size: 22px;}
}