#box1 {
    background-color: yellow;
    width: 100px;
    height: 100px;
    font-size: 10px;
}
#box2 {
    color: aliceblue;
    width: 35%;
    height: 40px;
    background-color: black;
    margin-left:5% ;
    font-size: 2em;
}
#box3 {
    font-size: 3em;
}
.a {
    background-color: red;
    height: 50px;
    width: 50px;
    display: inline-block;
    border-style: solid;
}
#a {
    background-color: red;
    height: 50px;
    width: 50px;
    display: inline-block;
    position: relative;
    top: 18px;
    border-style: solid ;
}
#hello {
    background-color: blue;
    height: 50px;
    width: 50px;
    display: inline-block;
}
#what {
    background-color: blue;
    height: 50px;
    width: 50px;
    display: inline-block;
    position: fixed;
    right: 10px;
}
#where {
    background-color: blue;
    height: 50px;
    width: 50px;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 300px;
}
#b1 {
    display: inline-block;
    position: relative;
    bottom: 290px;
    left: 15px;
    background-color: brown;
    height: 50px;
    width: 50px;
}
#b2 {
    display: inline-block;
    position: relative;
    bottom: 290px;
    left: 15px;
    background-color: lightblue;
    height: 50px;
    width: 50px;
}
#b3 {
    display: inline-block;
    position: relative;
    bottom: 290px;
    left: 15px;
    background-color: pink;
    height: 50px;
    width: 50px;
}
#b4 {
    display: inline-block;
    position: relative;
    bottom: 290px;
    left: 15px;
    background-color: peru;
    height: 50px;
    width: 50px;
}
#b5 {
    display: inline-block;
    position: relative;
    bottom: 290px;
    left: 15px;
    background-color: lightgoldenrodyellow;
    height: 50px;
    width: 50px;
}

